## json file to mySQL

In [2]:
import MySQ

db = MySQLdb.connect(host="localhost",user="root",db="python",passwd="23784409")
cursor = db.cursor()
cursor.execute("SELECT VERSION()")
data = cursor.fetchone()
print "Database version : %s " % data

Database version : 5.7.14-log

In [6]:
import MySQLdb

db = MySQLdb.connect(host="localhost",user="root",db="python",passwd="23784409")
cursor = db.cursor()
sql = """CREATE TABLE tokyo (
    serial_no MEDIUMINT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    1_hotel_name VARCHAR(30) NOT NULL,
    2_area_name VARCHAR(30) NOT NULL,
    3_price VARCHAR(10) NOT NULL,
    4_price_dicounted VARCHAR(10) NOT NULL
)"""

cursor.execute(sql)
db

In [44]:
import MySQLdb

db = MySQLdb.connect(host="localhost",user="root",db="python",passwd="23784409")
cursor = db.cursor()
db.set_character_set('utf8')

with open('detail5.json', 'rb') as f:
    data_list = json.load(f)
    for data in data_list:
#         print data['2_area_name'].encode('utf-8')
        area_name = data['2_area_name'].encode('utf-8')
        price = data['3_price'].encode('utf-8')
        hotel_name = data['1_hotel_name'].encode('utf-8')
        price_discounted = data['4_price_dicounted'].encode('utf-8')
        sql = "INSERT INTO tokyo (1_hotel_name,2_area_name,3_price,4_price_dicounted) VALUES ('{}', '{}', '{}', '{}')".format(hotel_name, area_name, price, price_discounted)
#         "INSERT INTO news (title, url, content, pub_date) VALUES ('{}', '{}', '{}', '{}')"
#         print sql
    
        try:
            cursor.execute(sql)
            db.commit()
        except Exception as e:
            print e
            db.rollback()

db.close()